<a href="https://colab.research.google.com/github/Samrat-Abdul-Jalil/Daily-task/blob/main/Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [43]:
import pandas as pd
df=pd.read_excel("/content/drive/MyDrive/task/Task.xlsx")

In [44]:
df.head()

   task_name  Due date        type  marks  options  weight  time to finish
0     os lab       2.0          ct   20.0      0.0     4.0             2.5
1  os theory       5.0          ct   20.0      0.0     4.0             2.5
2        Hci       2.0     project    0.0      1.0     1.0             1.0
3  Economics       3.0  assignment    5.0      0.0     3.0             5.0
4  Economics       3.0          ct   20.0      1.0     2.0             5.0

In [45]:
t=(df["Due date"]*-2)+(df['marks'])+(df['options']*-2)+(df['weight']*1.3)
result=t.sort_values(ascending=False)

In [46]:
df.insert(0,"result",t)

In [47]:
df.head()
df.sort_values(by=['result'],ascending=False)

,result,task_name,Due date,type,marks,options,weight,time to finish
0,21.2,os lab,2.0,ct,20.0,0.0,4.0,2.5
5,19.9,os lab,2.0,assignment,20.0,0.0,3.0,5.0
6,16.5,Bi,5.0,ct,20.0,0.0,5.0,6.0
1,15.2,os theory,5.0,ct,20.0,0.0,4.0,2.5
4,14.6,Economics,3.0,ct,20.0,1.0,2.0,5.0
3,2.9,Economics,3.0,assignment,5.0,0.0,3.0,5.0
2,-4.7,Hci,2.0,project,0.0,1.0,1.0,1.0

In [49]:
df.head()
df.sort_values(by=['Due date'],ascending=True)

,result,task_name,Due date,type,marks,options,weight,time to finish
0,21.2,os lab,2.0,ct,20.0,0.0,4.0,2.5
2,-4.7,Hci,2.0,project,0.0,1.0,1.0,1.0
5,19.9,os lab,2.0,assignment,20.0,0.0,3.0,5.0
3,2.9,Economics,3.0,assignment,5.0,0.0,3.0,5.0
4,14.6,Economics,3.0,ct,20.0,1.0,2.0,5.0
1,15.2,os theory,5.0,ct,20.0,0.0,4.0,2.5
6,16.5,Bi,5.0,ct,20.0,0.0,5.0,6.0

In [50]:
df.sort_values(by=['time to finish'],ascending=True)

,result,task_name,Due date,type,marks,options,weight,time to finish
2,-4.7,Hci,2.0,project,0.0,1.0,1.0,1.0
0,21.2,os lab,2.0,ct,20.0,0.0,4.0,2.5
1,15.2,os theory,5.0,ct,20.0,0.0,4.0,2.5
3,2.9,Economics,3.0,assignment,5.0,0.0,3.0,5.0
4,14.6,Economics,3.0,ct,20.0,1.0,2.0,5.0
5,19.9,os lab,2.0,assignment,20.0,0.0,3.0,5.0
6,16.5,Bi,5.0,ct,20.0,0.0,5.0,6.0