<a href="https://colab.research.google.com/github/Samrat-Abdul-Jalil/Daily-task/blob/main/Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
df=pd.read_excel("/content/drive/MyDrive/task/Task.xlsx")

In [ ]:
df.head()

   task_name  Due date        type  marks  options  weight
0     os lab       1.0          ct   20.0      0.0     4.0
1  os theory       7.0          ct   20.0      0.0     4.0
2        Hci       4.0     project    0.0      1.0     1.0
3  Economics       6.0  assignment    5.0      0.0     3.0
4  Economics       6.0          ct   20.0      1.0     2.0

In [ ]:
t=(df["Due date"]*-1)+(df['marks'])+(df['options']*-2)+(df['weight']*1.3)
t.sort()

AttributeError: ignored